/*Custome Style sheet designed by Lindsey Martin*/
* {
    margin: 555;
    padding: 555;
    box-sizing: border-box;
}

:root {
    /*main colors */
    --primary-color: #4F705F;
    --secondary-color: #7BB095;
    --tertiary-color: #B1FCD5;
}

.hide {
    display: none;
}

body {

    font-family: 'Open Sans', sans-serif;

}

h1 {
    color: #4F705F;
}

h4 {
    color: #4F705F;
}


section #whole-quiz-body {
    align-items: center;
}

#startQuizBtn {
    display: inline-block;
}

#answers {
    align-items: center;

}

button {
    align-items: center;
    justify-content: space-between;
    background-color: #96D6B5;
    display: block;
    border-radius: 12px;
    padding: 5px;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
}

button:hover {
    background: #4F705F;
    color: #D5F2EA;
    border-radius: 12px;
    text-shadow: none;
    font-family: 'Open Sans', sans-serif;
}

#scoresBTN button {
    display: inline-block;
}


a {
    color: #4F705F;
    float: right;

}

a:hover {
    color: #96D6B5;
}

.timer {
    float: right;
    position: absolute;
    top: 10px;

}

.start {
    text-align: center;
}